body {
  padding: 0 20px;
  color: rgb(33, 33, 33);
  background: #f7f7f7;
}

h2,
h3 {
  color: #231d3c;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #dfdfdf;
}

.degree-units .active {
  cursor: default;
  text-decoration: none;
}

#temperature {
  font-size: 50px;
}

#celsius,
#fahrenheit {
  position: relative;
  font-size: 16px;
  top: -24px;
  color: #231d3c;
}

#icon {
  text-align: center;
  display: block;
  margin: 0;
  font-size: 50px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 13px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}
