body {
  padding: 0 20px;
}

h1 {
  text-align: left;
  font-weight: 900;
  margin: 0;
  line-height: 60px;
}

h1,
h2,
h3 {
  color: #231d3c;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#comment::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

#degree {
  font-size: 40px;
}

#celsius,
#fahrenheit {
  font-size: 38px;
  font-weight: 100;
  color: #231d3c;
}

#icon {
  text-align: center;
  display: block;
  margin: 0;
  font-size: 50px;
}

.card-title,
.card-text {
  font-size: 13px;
}

#degree-2 {
  font-size: 13px;
}
